
div{
    /*margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left:  200px;*/
    margin-left: 10px;
    margin-top: 75px;
    width: 300px;
    border: lpx solid black;
    background-color: aquamarine;
}
p{
    margin-left: inherit;
}