.cabeçalho{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
.ativo, .noticias, .contato, .sobre{
    float: left;
}
.topo a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topo a:hover{
    background-color: rgb(68, 65, 65);
}
.ativo{
    background-color: red;
}
.barra-lateral{
    float:left;
    padding: 15px;
    clear: both;
}
.lateral{
    padding:8px;
    margin-bottom: 8px;
    background-color: black;
    color: white;
}
.lateral a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.lateral:hover{
    background-color: rgb(68, 65, 65);
}