.titulo{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: rgb(255, 77, 41);
    color: antiquewhite;
    font-size: 50px;
}
.subtitulo{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: antiquewhite;
    font-size: 20px;
}
.img{
    margin-bottom: 50px;
    border-bottom: 20px solid rgb(255, 0, 0);
    height: 500px;
    width: 1250px;
}
.notimg{
    margin-bottom: 5%;
    height: 200px;
    width: 27%;
    border-radius: 10px;
}
.txt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    float: right;
    margin-right: 70px;
}
.txt:hover{
     text-decoration: underline;
     font-weight: bold;  
}

