.contender{
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content:center;
    background-color: black;
}
.img{
    height: 100px;
    width: 100px;
}
.txt{
    color: white;
    text-align: justify;
}
.txt:hover{
    color:black;
    text-decoration: solid;
}